.header-main {
  height: 58px;
  padding: 24px 36px;
  background-color: #23856d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-txt {
  font-size: 14px;
  font-weight: 700;
  color: white;
}
.logo {
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
}
.links-div {
  margin-left: 120px;
}
.link {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  margin-left: 15px;
}
.secondary-header-txt {
  font-size: 14px;
  font-weight: 700;
  color: #23a6f0;
}
.header-secondary {
  display: flex;
  justify-content: space-between;
  padding: 24px 36px;
}
@media only screen and (max-width: 999px) {
  .header-secondary {
    display: none;
  }
  .header-main {
    display: none;
  }
  .header-mobile-nav {
    padding: 36px 35px;
    display: flex;
    justify-content: space-between;
  }
  .nav-link-mobile {
    font-size: 30px;
    font-weight: 400;
    color: #737373;
    margin-top: 30px;
  }
  .nav-links-mobile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
